TBA_API_KEY=pTDICcqdFbhpdzCZqjCBW09KVq7T2XelKmLUsFohXDeDS8y3hj5E35uDv7Gv1zeA
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54ZmRvdm9lbmRsbmpob21icXd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE5MTYxMjIsImV4cCI6MjA2NzQ5MjEyMn0.EQiPcUffFMzfIN3RizfbRzWH9Hrdf6flkDF4Ik9s-wo
SUPABASE_URL=https://nxfdovoendlnjhombqwv.supabase.co